.env
.env.*
.idea
.vapor/
.DS_Store
.blueprint
.phpstorm.meta.php
.php-cs-fixer.cache
.phpunit.result.cache
storage/*
vapor.yml
cghooks.lock
geoip.tar.gz
npm-debug.log
yarn-error.log
_ide_helper.php
/vendor
/public/*
/_scratch/
/draft.yaml
/node_modules
/storage/*.key
